<div class="panel panel-default">
	<div class="panel-heading">
		Advertiser Details
	</div>
	<div class="panel-body">
		<dl class="dl-horizontal">
		  <dt>Company:</dt>
		  <dd><%= @advertiser.company %></dd>

			<dt>First Name:</dt>
			<dd><%= @advertiser.first_name %></dd>

			<dt>Last Name:</dt>
			<dd><%= @advertiser.last_name %></dd>

			<dt>Email:</dt>
			<dd><%= @advertiser.email %></dd>

			<dt>Address:</dt>
			<dd><%= @advertiser.address %></dd>

			<dt>City:</dt>
			<dd><%= @advertiser.city %></dd>

			<dt>Postcode:</dt>
			<dd><%= @advertiser.postcode %></dd>
			
			<dt>Country:</dt>
			<dd><%= @advertiser.country %></dd>
		</dl>

	</div>
</div>

<%= link_to 'Add campaign', new_advertiser_campaign_path(@advertiser), class: 'btn btn-success pull-right' %>

<h2>Campaigns</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Budget</th>
			<th>In Pause</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Link</th>
			<th>Country</th>
			<th>Active</th>
			<th>Creative</th>
		</tr>
	</thead>

	<tbody>
		<% @advertiser.campaigns.each do |campaign| %>
			<tr id="campaign-<%= campaign.id %>">
				<td><%= campaign.name %></td>
				<td><%= campaign.budget %></td>
				<td><%= campaign.in_pause %></td>
				<td><%= campaign.start_date %></td>
				<td><%= campaign.end_date %></td>
				<td><%= link_to campaign.link %></td>
				<td><%= campaign.country %></td>
				<td><%= campaign.active? ? 'Yes' : 'No' %></td>
				<td><%= image_tag campaign.creative.url(:thumb) %></td>
			</tr>
		<% end %>
	</tbody>
</table>