Company: <%= @advertiser.company %>

<%= link_to 'Add campaign', new_advertiser_campaign_path(@advertiser), class: 'btn btn-success' %>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Budget</th>
			<th>In Pause</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Link</th>
			<th>Country</th>
			<th>Creative</th>
		</tr>
	</thead>

	<tbody>
		<% @advertiser.campaigns.each do |campaign| %>
			<tr id="campaign-<%= campaign.id %>">
				<td><%= campaign.name %></td>
				<td><%= campaign.budget %></td>
				<td><%= campaign.in_pause %></td>
				<td><%= campaign.start_date %></td>
				<td><%= campaign.end_date %></td>
				<td><%= link_to campaign.link %></td>
				<td><%= campaign.country %></td>
				<td><%= image_tag campaign.creative.url(:thumb) %></td>
			</tr>
		<% end %>
	</tbody>
</table>