<div class="panel panel-default">
	<div class="panel-heading">
		Advertiser Details
	</div>
	<div class="panel-body">
		<dl class="dl-horizontal">
		  <dt>Company:</dt>
		  <dd><%= @advertiser.company %></dd>

			<dt>First Name:</dt>
			<dd><%= @advertiser.first_name %></dd>

			<dt>Last Name:</dt>
			<dd><%= @advertiser.last_name %></dd>

			<dt>Email:</dt>
			<dd><%= @advertiser.email %></dd>

			<dt>Address:</dt>
			<dd><%= @advertiser.address %></dd>

			<dt>City:</dt>
			<dd><%= @advertiser.city %></dd>

			<dt>Postcode:</dt>
			<dd><%= @advertiser.postcode %></dd>
			
			<dt>Country:</dt>
			<dd><%= @advertiser.country %></dd>
		</dl>

	</div>
</div>

<%= link_to 'Add campaign', new_advertiser_campaign_path(@advertiser), class: 'btn btn-success pull-right' %>

<h2>Campaigns</h2>
<%= render partial: 'campaigns/table', locals: { campaigns: @advertiser.campaigns } %>