<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
      <a class="navbar-brand" href="#">Ad Server</a>
    </div>

    <ul class="nav navbar-nav navbar-left">
      <% if current_user %>
				<li><%= link_to 'Advertisers', advertisers_path %></li>
				<li><%= link_to 'Campaigns', advertisers_path %></li>
				<% if can? :manage, User %>
					<li><%= link_to 'Users', users_path %></li>
				<% end %>
			<% end %>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
				<li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %>	</li>
			<% else %>
				<li><%= link_to 'Sign in', new_user_session_path %></li>
				<li><%= link_to 'Sign up', new_user_registration_path %></li>
			<% end %>
    </ul>
	</div>
</nav>